@tailwind base;
@tailwind components;
@tailwind utilities;

.parent_div{
    display:flex;
    align-items:center;
    direction:column;
}
.hello-navbar{
    display:flex;
    align-self: center;
    margin: 10px;
}

.link-btn{
    margin: 10px;
}